@model IEnumerable<BankApplication.ViewModels.CreationDateGroup>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<h2>Bank accounts body statistics</h2>

<table class="table">
    <tr>
        <th>
            Creation Date
        </th>
        <th>
            Bank accounts
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @item.BankAccountsCount
            </td>
        </tr>
    }
</table>