@model PagedList.IPagedList<BankApplication.Models.BankAccount>
@using PagedList.Mvc;

@foreach (var item in Model)
{
    <tr>
        <td>
            @if (item.BankAccountType.Type == "PAY_ACC_FOR_YOUNG")
            {
                @:Konto dla młodych
            }
            else if (item.BankAccountType.Type == "PAY_ACC_FOR_ADULT")
            {
                @:Superkonto
            }
            else if (item.BankAccountType.Type == "FOR_CUR_ACC")
            {
                @:Konto walutowe
            }
        </td>
        <td>
            @Html.ActionLink(item.BankAccountNumber, "Details", "BankAccounts", new { id = item.BankAccountTypeID }, new { @class = "btn btn-default", target = "_blank" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.ActionLink("Stan", "Index", "Transactions", new { bankAccountNumber = item.BankAccountNumber }, new { @class = "btn btn-default", target = "_blank" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-default" })
        </td>
    </tr>
}