@import "tables.css";

body {
    min-height: 101vh;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    min-height: 400px;
}

.bank-account-div {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: 2px 2px #808080;
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    overflow: hidden;
}

.bank-account-div .details {
    margin-right: 40px;
}

.bank-account-div .buttons {
    margin: 10px;
    margin-right: 30px
}

    .bank-account-div .buttons > a {
        min-width: 100px;
        margin-right: 10px
    }

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}