@import "tables.css";

body {
    min-height: 101vh;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bank-account-div {
    background-color: #d3d3d3;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: none;
    margin: 0 auto;
    max-width: 540px;
    min-width: 340px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .bank-account-div .details-type {
        margin: 0px 0 0 20px;
        float: left;
    }

    .bank-account-div .details {
        display: none;
    }

    .bank-account-div .details-menas {
        margin: 0px 20px 0px 0px;
        overflow: hidden;
    }

    .bank-account-div .buttons {
        display: none;
    }


    .bank-account-div.active {
        background-color: white;
        border: 1px solid #808080;
        box-shadow: 2px 2px #808080;
        max-width: 550px;
        min-width: 350px;
        overflow: hidden;
    }

    .bank-account-div.active .details-type {
        margin: 5px 0 0 20px;
    }

    .bank-account-div.active .details {
        display: block;
        margin-right: 30px;
        margin-top: 60px;
    }

    .bank-account-div.active .details-menas {
        margin-top: 60px;
        margin-right: 30px
    }

    .bank-account-div.active .buttons {
        display: block;
        margin: 10px;
        margin-right: 20px
    }

        .bank-account-div.active .buttons > a {
            min-width: 100px;
            margin-right: 10px
        }


.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}