html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 101vh;
    padding-bottom: 20px;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body > div.container.body-content > h2 {
    padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
}

.nav-item {
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease;
} 

.nav-item:hover {
    border-bottom: 1px solid black;
}

.dropdown-item:hover {
    background-color: #ebebeb;
}


a:link:not(.btn) {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

a:visited:not(.btn) {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.center-form {
    margin-left: 20%;
}

.btn-transfer {
    margin-right: 20%;
}

.btn-back{
    margin-left: -20%;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.noselect *:not(.bankAccountSelect) {

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.col-md-6, .col-sm-6 {
    position: unset !important;
}

.bank-account-div {
    background-color: #d3d3d3;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: none;
    margin: 0 auto;
    max-width: 540px;
    min-width: 340px;
    min-height:50px;
    cursor: pointer;
    transition: all 0.5s ease;
}

    .bank-account-div .details-type {
        margin: 0px 0 0 10px;
        float: left;
    }

    .bank-account-div .details {
        display: none;
    }

    .bank-account-div .details-menas {
        margin: 0px 20px 0px 0px;
        overflow: hidden;
    }

    .bank-account-div .buttons {
        display: none;
    }

    .bank-account-div.active {
        background-color: white;
        border: 1px solid #808080;
        box-shadow: 0 0 2px 3px rgba(80, 80, 80, 0.5);
        max-width: 550px;
        min-width: 350px;
        overflow: hidden;
        position: relative;
    }

    .bank-account-div.active .details-type {
        margin: 5px 0 0 10px;
        display: block;
    }

    .bank-account-div.active .details {
        display: block;
        margin-right: 30px;
        margin-top: 60px;
    }

    .bank-account-div.active .details-menas {
        margin-top: 60px;
        margin-right: 30px
    }

    .bank-account-div.active .buttons {
        display: block;
        margin: 10px;
        margin-right: 20px
    }

        .bank-account-div.active .buttons > a {
            min-width: 100px;
            margin-right: 10px
        }

        .bank-account-div.active.history {
            min-width: 340px;
            max-width: 700px;
        }

            .bank-account-div.active.history .details {
                margin-top: 5px;
            }

            .bank-account-div.active.history .details-menas {
                margin-top: 5px;
            }

            .bank-account-div.active.history .buttons {
                margin-top: 80px;
                margin-right: -280px;
            }

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.currency-box {
    height: 150px;
    width: 100%;
    min-width: 255px;
    border: 1px solid rgba(80, 80, 80, 0.5);
    box-shadow: 0 0 2px 2px rgba(80, 80, 80, 0.5);
    border-radius: 5px;
    margin: 10px auto;
}

.currency-code-box {
    text-align: center;
    vertical-align: central;
    font-size: 30px;
    height: 45px;
    width: 75px;
    margin: 10px 10px 10px 10px;
    border: 1px solid rgba(80, 80, 80, 0.5);
    box-shadow: 0 0 2px 2px rgba(80, 80, 80, 0.5);
    border-radius: 5px;
    float: left;
}

.currency-name-box {
    margin: 20px 10px 10px 10px;
    float:left;
}

.currency-date-box {
    margin: 20px 10px 10px 10px;
    clear: both;
}

.currency-value-box {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.currency-ask-box {
    width: 50%;
    float: left;
    text-align: center;
}

    .currency-ask-box:after {
        content: "";
        background-color: rgba(80, 80, 80, 0.5);
        position: absolute;
        width: 1px;
        height: 40px;
        top: 0px;
        left: 51%;
        display: block;
    }

.currency-bid-box {
    width: 50%;
    float: right;
    text-align: center;
}

.currency-content-box {
    padding-top: 50px;
}

.currency-exchange-content {
    height: 260px;
    max-width: 500px;
    min-width: 310px;
    border: 1px solid rgba(80, 80, 80, 0.5);
    box-shadow: 0 0 2px 2px rgba(80, 80, 80, 0.5);
    border-radius: 5px;
    margin: 10px auto;
    overflow: hidden;
}

    .currency-exchange-content .type {
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        font-size: 25px;
        cursor: pointer;
        border-radius: 5px;
    }

        .currency-exchange-content .type .bid {
            width: 50%;
            float: left;
            text-align: center;
            height: 40px;
            color: #337ab7;
            background-color: #dbdbdb;
            border-radius: 5px 0 0 5px;
        }

        .currency-exchange-content .type .ask {
            width: 50%;
            float: right;
            text-align: center;
            height: 40px;
            color: #337ab7;
            background-color: #dbdbdb;
            border-radius: 0 5px 5px 0;
        }

        .currency-exchange-content .type .active {
            color: white;
            background-color: #337ab7;
        }


    .currency-exchange-content .currency-content {
        width: 60%;
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }

        .currency-exchange-content .currency-content .for-content {
            width: 18px;
            display: flex;
            margin-left: 10px;
            margin-right: 10px
        }

            .currency-exchange-content .currency-content .for-content .for {
                text-align: center;
            }

        .currency-exchange-content .currency-content .currency-from {
            width: 100px;
            
        }

        .currency-exchange-content .currency-content .currency-to {
            width: 100px;
        }


        .currency-exchange-content .currency-content .currency-left {
            float: left;
        }

        .currency-exchange-content .currency-content .currency-right {
            float: right;
        }

.select2-selection__rendered {
    line-height: 31px !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

.currency-exchange-content .select-content {
    width: 100%;
    padding-left: 15px;
    margin-top: 10px;
}

.currency-exchange-content .select-content > div {
    width: 520px !important;
    padding-left: 15px;
}

    .currency-exchange-content .bank-account-from {
        width: 180px;
    }

    .currency-exchange-content .bank-account-to {
        width: 180px;
    }

    .currency-exchange-content .bank-account-left {
        float: left;
        margin-left: 40px;
    }

    .currency-exchange-content .bank-account-right {
        float: right;
        margin-right: 40px;
    }

    .currency-exchange-content .value-content {
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .currency-exchange-content .value-content input{
        width: 120px;
    }

    .currency-exchange-content .value-left {
        float: left;
        margin-left: 70px;
    }

    .currency-exchange-content .value-right {
        float: right;
        margin-right: 70px;
    }

    .currency-exchange-content .submit-content {
        margin: 0 auto;
        margin-top: 10px;
    }

        .currency-exchange-content .submit-content .submit {
            width: 20%;
            margin: 0 auto;
            margin-top: 10px;
            float: none;
        }


.img-flag {
    max-height: 30px;
    max-width: 30px
}

.exchange-error {
    border: 1px solid red;
    border-radius: 5px;
}

.value-error {
    border: 1px solid red;
    border-radius: 5px;
}

.toast {
    z-index: 1;
    background: #F2F2F2;
    background-color: #F2F2F2;
    padding: 1%;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    display: none;
    font-size: 130%;
    margin-bottom: 5px;
}


.toast-container {
    z-index: 1;
    position: fixed;
    min-width: 20%;
    max-width: 40%;
    max-width: 40%;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.form-deposit-withdrawal {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    min-width: 236px;
}

    .form-deposit-withdrawal .form-control {
        width: 30%;
        margin: 0 auto;
        display: unset;
        min-width: 115px;
    }

    .form-deposit-withdrawal .submit {
        margin-top: 10px;
    }

.value-deposit-withdrawal {
    text-align: center;
}

.gray-text {
    margin: 0;
    margin-top: 3px;
    color: #000;
    font-size: 13px;
    line-height: 16px;
    color: #636363;
}

.search-transactions-group {
    width: 80%;
    margin: 0 auto;
}

.select2-drop li {
    white-space: pre;
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 768px){
    .currency-box {
        min-width: 250px;
        width: 70%;
    }

}

@media (max-width: 504px) {
    .currency-box {
        min-width: 250px;
        width: 70%;
    }

    .currency-exchange-content .bank-account-left {
        margin-left: unset !important;
    }

    .currency-exchange-content .bank-account-right {
        margin-right: unset !important;
    }

    .currency-exchange-content .value-left {
        margin-left: 50px;
    }

    .currency-exchange-content .value-right {
        margin-right: 50px;
    }
}

@media (max-width: 428px) {
    .currency-exchange-content {
        transform: scale(0.8);
    }
}

