@using Microsoft.AspNet.Identity
<ul class="navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li class="nav-item">
            @Html.ActionLink("Witaj," + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        </li>
        <li class="nav-item">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
            }
        </li>
    }
    else
    {
        <li class="nav-item">
            @Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
        </li>
    }
</ul>